@model IEnumerable<Message>

<div class="container-message">
    @if (Model != null && Model.Any())
    {
        @foreach (var message in Model)
        {
            var isUser = message.Role == Role.user;
            var isAssistant = message.Role == DotBot.Constrants.Role.assistant;

            <div class="message @(isUser ? "user" : isAssistant ? "assistant" : "")">
                <div class="message-content">
                    @Html.Raw(message.Content)
                </div>
            </div>
        }
    }
</div>